body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  body {
    font-family: verdana;
    font-size: 20px;
    
  }.dark-mode {
    background-color: black;
    color: white;
  }
 /* Create two equal columns that floats next to each other */
.column {
    float: right;
    width: 100%;
    padding: 30px;
    height: 400px;
    text-align: center;
    font-size: 30px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
#content {
    width: 75%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }